.template_section{
    background-color: #f4f4f9;
    padding-bottom: 40px;
    padding-top: 7px;
}
.template_top{
    margin-left: 180px;
    margin-right: 180px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.template_body{
    margin-left: 160px;
    margin-right: 160px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.card{
    margin-left: 20px;
    margin-top: 15px;
}
.card_image{
    box-sizing: border-box;
    height: 120px;
    width: 140px;
    cursor: pointer;
    border-radius: 2px;
    border: 0.2px solid rgb(203, 195, 195);
}
.card_image:hover{
    border: 2px solid black;
}
.card_title{
    font-size: 14px;
    margin-top: 2px;
    color: #202124;
    font-weight: 500;
}